*.egg-info
*.mo
*.pyc
.installed.cfg
.editorconfig
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
local/
include/
lib/
buildout-cache/
develop-eggs/
parts/
src/*
!src/cciaapd
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
*.pyo
